Source: pulseaudio-modules-droid
Section: sound
Priority: optional
Build-Depends: android-headers (>= 23),
    debhelper (>= 9),
    check,
    dh-autoreconf,
    dh-exec,
    intltool,
    pulseaudio-dev,
    libpulse-dev,
    libhardware-dev,
    libdbus-1-dev,
    libltdl-dev,
    libhybris-common-dev
Maintainer: Marius Gripsgard <marius@ubports.com>
Standards-Version: 3.9.5
Homepage: https://github.com/ubports/pulseaudio-modules-droid

Package: pulseaudio-modules-droid2
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: PulseAudio Droid HAL module. (JOLLA TEST VERSION)

Package: pulseaudio-modules-droid-dev
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         pulseaudio-modules-droid2
Description: PulseAudio Droid HAL module development headers.
